asn1crypto==1.4.0
attrs==21.2.0
base45==0.4.3
cbor2==5.4.2
certvalidator==0.11.1
cffi==1.15.0
cose==0.9.dev8
cryptography==36.0.0
ecdsa==0.17.0
iniconfig==1.1.1
oscrypto==1.2.1
packaging==21.3
Pillow==8.4.0
pluggy==1.0.0
py==1.11.0
pycparser==2.21
pyparsing==3.0.6
pytest==6.2.5
segno==1.4.1
six==1.16.0
toml==0.10.2
